* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 280;
  font-size: .5rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #f4f6f8;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2 {
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-blue {
  color: #4472C4;
}

.text-darkblue {
  color: #002060;
}

.text-uppercase {
  text-transform: uppercase;
}

.icon {
  margin-right: .5rem;
}

.cv-container {
  width: 590px;
  margin: 70px auto;
  box-shadow: 0 1px 3px rgb(243, 239, 239), 0 1px 2px rgba(190, 188, 188, 0.24);

}

.section {
  margin-bottom: 0.5rem;
}

/* LEFT COLUMN */

.portait {
  border-radius: 30%;
  max-width: 70px;
  margin: auto;
  display: block;
  margin-bottom: 30px;

}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column {
  grid-area: right-column;
  display: grid;
  grid-template-rows: 190px 1fr;
  grid-template-areas:
    "header"
    "content";
}

/* HEADER */
.header {
  grid-area: header;
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content {
  grid-area: content;
  padding: 50px;
}

.experience-list {
  list-style-type: circle;
}

.a {
  text-align: right;
}

.b {
  text-align: left;
}

input {
  width: 650px;
  border-radius: 10px;
}

.ssss{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: black;
  font-size: 12px;
  text-align: right;
}
.sas{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: black;
  font-size: 12px;
  text-align: left;
  margin-left: 5%;
}
.ont{
    font-size: 15px;
    text-align: left;
    font-style: normal;
}
